.card {
    max-width: 75%;
    min-width: 75%;
    background-color: #f4f0f7;;
    color: #2d283e;
}

.center-content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-link:hover {
    cursor: pointer;
}

.end {
    position: relative;
    right: 0px!important;
    float: right;   
}

.test-flex {
    width: 850px;
    margin-right: 50px;
    padding-right: 25px;
}

.side-info {
    max-width: 400px;
    margin-right: 20px;
    position: relative;
}