/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

.error-snackbar {
    color: white !important;
    background-color: red !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif!important;
}

.success-snackbar {
    color: white !important;
    background-color: green !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif!important;
}
